<h3 class="intro"></h3>
<p>How cute he was as a baby...</p>
<div class="baby">
    <img src="images/bebe.jpg" alt="baby1"/>
    <img src="images/bebe1.jpg" alt='baby3'>
</div>
<div class="home-buttons">
    <a href="/" id="home">Home</a>
    <a href="/about" id="about">About me</a>
    <a href="/works" id="works">Works</a>  

</div>
