<p>You can hire him for working as a</p>
<div class="work">
    <div>
        <h3>Student</h3>
        <img src="images/estudio.jpg" alt="stydying"/>
    </div>
    <div>
        <h3>Fruit platter</h3>
        <img src="images/frutero.jpg" alt="fruit-platter"/>
    </div>
    <div>
        <h3>Model</h3>
        <img src="images/modelo.jpg" alt="modelling"/>
    </div>
</div>